header {
  /*img SOURSE:https://as2.ftcdn.net/jpg/00/73/39/21/500_F_73392148_IQKrUPkIQyfWZpHj4OPRDJtpSa51Z1Ch.jpg */
  background-image: url(Stomatopoda.png);
  background-repeat: no-repeat;
  background-position: 70% 8%;
  background-size: cover;
  padding: 100px 30px 40px
}
h1 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  margin: 0 0 20px;
  margin-left: 30px;
  max-width: 35%;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2#facts{
  text-align: center;
  max-width: 100%;
}
h2 {
  padding-right: 50px;
  text-align: left;
  float: center;
  text-indent: 0;
  max-width: 20%;
}

nav {
  background-color: rgb(255, 142, 164);
  padding: 5px;
}

.menu-bar li {
  display: inline;
  padding: 19px;
}

.menu-bar a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  
}

.menu-bar li:hover{
  background-color: rgb(247, 121, 146);
}

.facts{
  text-align: center;
}

aside {
  background-color: rgb(248, 192, 123);
  float: right;
  max-width: 20%;
  min-width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 3%;
  position: relative;
}

.source a{
  text-decoration: none;
  padding: 5px;
  color: #000;
  max-width: 20%;
 
  position: relative;
}

.aside {
  background-color: rgb(255, 142, 164);
  padding: 10px;
}

.first-section {
  padding: 2% 5%;
  text-align: justify;
  text-indent: 30px;
}

.second-section, .third-section, .fourth-section{
  padding: 2% 5%;
  text-align: justify;
  text-indent: 30px;
  max-width: 65%;
  display: flex;
}

footer p{
  background-color: rgb(255, 142, 164);
  padding: 50px;
  text-align: center;
  color: #000;
}

 .section-images {
  float: left;
  padding-left: 50px;
  margin: 0px 10px 10px 0;
  max-width: 186px;
}